.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 0;
	@media (min-width: $md5) {
		padding: 1.25rem;
	}
}

.fancybox__backdrop {
	background: rgba(30, 30, 30, 0.4);
	backdrop-filter: blur(12.5px);
	-webkit-backdrop-filter: blur(12.5px);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	position: relative;
	display: none;
	width: 100%;
	max-width: rem(728);
	background: #000000;
	color: $white;
	padding: rem(118) rem(20) rem(67);
	@media (min-width: $md4) {
		padding: rem(144) rem(84) rem(102);
	}
	// .popup__body
	&__body {
	}
	// .popup__close
	&__close {
		position: absolute;
		top: rem(30);
		right: rem(30);
		font-size: rem(35);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color 0.3s ease 0s;
		@media (min-width: $md4) {
			top: rem(40);
			right: rem(50);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}

	// .popup__title
	&__title {
	}
	// .popup__subtitle
	&__subtitle {
		margin-top: rem(14);
		@media (min-width: $md4) {
			margin-top: 1.88rem;
		}
	}
	// .popup__form
	&__form {
		display: flex;
		flex-direction: column;
		gap: 0.81rem;
		margin-top: rem(46);
		@media (min-width: $md4) {
			margin-top: 1.94rem;
		}
	}
}
