.anti-cafe {
	padding: 4.75rem 0 4rem;
	@media (min-width: $md4) {
		padding: 3.75rem 0 9rem;
	}
	position: relative;
	z-index: 1;
	&::after {
		content: "";
		position: absolute;
		bottom: -2rem;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: -1;
		background: url("@img/decor-line-mobile.svg") 75% bottom / 32.875rem auto no-repeat;
		@media (min-width: $md5) {
			background: url("@img/decor-line.svg") center bottom / 100% auto no-repeat;
		}
		@media (min-width: $md4) {
			bottom: -15rem;
		}
	}
	// .anti-cafe__container
	&__container {
	}
	// .anti-cafe__title
	&__title {
		text-align: center;
	}
	// .anti-cafe__tabs
	&__tabs {
		margin-top: rem(40);
		@media (min-width: $md4) {
			margin-top: rem(60);
		}
		@extend .quests__filters;
	}
	// .anti-cafe__tab-btn
	&__tab-btn {
		@extend .quests__filter;
		flex: 0 1 auto;
	}
	// .anti-cafe__tabs-body
	&__tabs-body {
		margin-top: rem(52);
		@media (min-width: $md4) {
			margin-top: rem(66);
		}
	}
	// .anti-cafe__tab-content
	&__tab-content {
		display: none;
		&.active {
			display: block;
		}
	}
	// .anti-cafe__gallery
	&__gallery {
		overflow: visible;
	}
	// .anti-cafe__gallery-item
	&__gallery-item {
		border-radius: rem(40);
		overflow: hidden;
		height: auto;
		width: rem(314);
		aspect-ratio: math.div(314, 212);
		@media (min-width: $md4) {
			aspect-ratio: 1;
			width: auto;
		}
		& img {
			transition: transform 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.015);
				}
			}
		}
	}
}
