.rules {
	padding: 0 0 10rem;

	// .rules__container
	&__container {
	}
	// .rules__list
	&__list {
		padding-left: 1em;
		list-style: disc;
		@media (min-width: $md4) {
			columns: 2;
			column-gap: 2.5rem;
		}
		@media (min-width: $md3) {
			column-gap: 5rem;
		}
		& li {
			break-inside: avoid;
			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}
	}
}

.reqs {
	padding: 4rem 0 5rem;
	@media (min-width: $md4) {
		padding: 12.75rem 0 2rem;
	}
	// .reqs__container
	&__container {
	}
	// .reqs__title
	&__title {
		display: none;
		@media (min-width: $md4) {
			display: block;
			text-align: center;
		}
	}
	// .reqs__list
	&__list {
		@media (min-width: $md4) {
			margin-top: 3.75rem;
		}
	}
}
