<li class="quests__item">
    <a href="@@url" class="quests-card">
        <span class="quests-card__poster">
            <img src="@@images" class="cover-image" alt="Постер квеста">
        </span>
        <span class="quests-card__body">
            <span class="quests-card__title h3">@@title</span>
            <span class="quests-card__description text-block">@@description</span>
            <span class="quests-card__stats">
                <span class="quests-card__stats-block icon-users">@@users</span>
                <span class="quests-card__stats-block icon-currency">@@price</span>
            </span>
        </span>
    </a>
</li>