html {
	font-size: 16px;
	@media (min-width: 2559.98px) {
		font-size: vw(16);
	}
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	color: $white;
	background-color: $black;
	margin-right: 0 !important;
	&.lock {
		overflow: hidden;
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.page {
	flex: 1 1 auto;
	overflow-x: clip;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

[class*="__container"] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1.25rem;
	@media (min-width: $md5) {
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: $maxWidthContainer;
	}
	&.container-sm {
		@media (min-width: $md2) {
			max-width: rem(1200);
		}
	}
}

//=============== LAYOUT ===============================

.promo {
	position: relative;
	padding-top: $header;
	z-index: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	min-height: rem(505);
	padding-bottom: 2.43rem;
	&:not(:last-child) {
		& + * {
			position: relative;
			z-index: 2;
		}
	}
	@media (min-width: $md4) {
		padding-bottom: rem(147);
		min-height: rem(882);
		&:not(:last-child) {
			& + * {
				position: relative;
				z-index: 2;
			}
		}
	}
	&::before {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		flex-shrink: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.59) 33.98%, #000 56.26%);
		z-index: 3;
		pointer-events: none;
		bottom: 0;
		height: 14rem;
		@media (min-width: $md4) {
			height: 29rem;
			bottom: -13rem;
		}
	}
	&::after {
		content: "";
		position: absolute;
		bottom: -2rem;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 3;
		background: url("@img/decor-line-mobile.svg") 75% bottom / 32.875rem auto no-repeat;
		@media (min-width: $md5) {
			background: url("@img/decor-line.svg") center bottom / 100% auto no-repeat;
		}
		@media (min-width: $md4) {
			bottom: -13rem;
		}
	}
	&.promo--404 {
		&::after {
			bottom: 15%;
			@media (min-width: $md4) {
				bottom: 25%;
			}
		}
		.promo__container {
			justify-content: center;
		}
	}
	&.promo--rules {
		min-height: rem(505);
		margin-bottom: -8rem;
		@media (min-width: $md4) {
			margin-bottom: -4rem;
		}
		@media (min-width: $md3) {
			min-height: rem(882);
		}
		&::after {
			bottom: 30%;
			@media (min-width: $md4) {
				bottom: 0%;
			}
		}
		&::before {
			@media (min-width: $md4) {
				bottom: -14rem;
			}
			@media (min-width: $md3) {
				bottom: -5rem;
			}
		}
		.promo__container {
			justify-content: center;
		}
		.promo__caption {
			margin-top: 2.75rem;
			@media (min-width: $md3) {
				margin-top: 8rem;
			}
			font-size: clamp(4.64763rem, 13.75vw, 15rem);
		}
	}
	&.promo--home {
		.promo__container {
			&::before {
				display: none;
			}
		}
	}
	&.promo--quest {
		min-height: rem(414);
		margin-bottom: 13.5rem;

		@media (min-width: $md4) {
			margin-bottom: 0;
			min-height: rem(882);
		}
		&::after {
			bottom: -13rem;
			@media (min-width: $md4) {
				bottom: -3rem;
			}
		}
		&::before {
			@media (max-width: $md4) {
				height: 4rem;
			}
		}
	}
	&.promo--for-kids {
		.promo__container {
			justify-content: center;
		}
	}
	&.promo--schedule {
		min-height: rem(280);
		@media (min-width: $md4) {
			min-height: rem(882);
		}
		.promo__caption {
			margin-top: 0;
			font-size: clamp(3.1755rem, 11vw, 15rem);
			@media (min-width: $md4) {
				margin-top: 4rem;
			}
		}
		&::after {
			bottom: -2.5rem;
			@media (max-width: $md4) {
				display: none;
			}
		}
		&::before {
			@media (max-width: $md4) {
				height: 4rem;
			}
		}
	}
	&.promo--anti-cafe {
		min-height: rem(575);
		@media (min-width: $md4) {
			min-height: rem(882);
		}
		.promo__subtitle {
			@media (min-width: $md4) {
				margin-top: rem(34);
				max-width: rem(780);
			}
		}
		.promo__container {
			@media (min-width: $md4) {
				justify-content: center;
			}
		}
		.promo__main {
			@media (min-width: $md4) {
				padding-top: rem(70);
			}
		}
		.promo__btn {
			min-width: rem(261);
			@media (min-width: $md5) {
				min-width: "auto";
			}
		}
		&::after {
			bottom: 0;
		}
	}
	// .promo__container
	&__container {
		min-height: 100%;
		width: 100%;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 6rem;
			@media (min-width: $md4) {
				height: 8rem;
			}
			background: linear-gradient(to bottom, $black 10%, transparent) 0 0 / 100% 100% no-repeat;
			z-index: 3;
			pointer-events: none;
		}
	}
	// .promo__caption
	&__caption {
		text-align: center;
		font-family: $font-lighthaus;
		font-size: clamp(3.4375rem, 12.25vw, 15rem);
		white-space: nowrap;
		line-height: 100%;
		text-transform: uppercase;
		position: absolute;
		top: $header;
		margin-top: 0.45rem;
		left: 0;
		right: 0;
		z-index: 1;
		&.color-turquoise {
			opacity: 0.33;
		}
	}
	// .promo__overlay
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		pointer-events: none;
	}
	// .promo__light
	&__light {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		animation: blink 1s infinite ease-in-out;
	}
	// .promo__main
	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		position: relative;
		z-index: 4;
	}
	// .promo__title
	&__title {
		max-width: 58.8125rem;
		&--lg {
			font-size: 2.42744rem;
			@media (min-width: $md4) {
				font-size: 6.25rem;
			}
		}
	}
	// .promo__subtitle
	&__subtitle {
		margin-top: 0.44rem;
		max-width: 37.4375rem;
	}
	// .promo__btns
	&__btns {
		display: flex;
		justify-content: center;
		margin-top: 2.31rem;
		gap: 0.94rem;
		@media (min-width: $md4) {
			gap: 1.25rem;
			margin-top: 2.12rem;
		}
	}
	// .promo__btn
	&__btn {
		min-width: calc(50% - rem(5));
		@media (min-width: $md5) {
			min-width: 13.75rem;
		}
	}
	// .promo__offer
	&__offer {
		background: $glass;
		backdrop-filter: blur(rem(15));
		-webkit-backdrop-filter: blur(rem(15));
		max-width: 35rem;
		position: relative;
		z-index: 4;
		padding: 1.94rem 1.58rem;
		margin-bottom: -13.5rem;
		border-radius: 1.57588rem;
		@media (min-width: $md4) {
			border-radius: 2.5rem;
			padding: 4.06rem 2.5rem 2.5rem;
			margin-bottom: 6rem;
		}
	}
	// .promo__offer-title
	&__offer-title {
	}
	// .promo__offer-subtitle
	&__offer-subtitle {
		margin-top: 0.79rem;
		@media (min-width: $md4) {
			margin-top: 1.25rem;
		}
	}
	// .promo__offer-stats
	&__offer-stats {
		display: flex;
		flex-wrap: wrap;
		column-gap: 1.58rem;
		row-gap: 0.32rem;
		margin-top: 0.79rem;
		max-width: 12rem;
		@media (min-width: $md4) {
			column-gap: 2.5rem;
			row-gap: 0.5rem;
			max-width: 18rem;
			margin-top: 1.25rem;
		}
	}
	// .promo__offer-stat
	&__offer-stat {
		display: flex;
		align-items: center;
		gap: rem(10);
		&::before {
			width: 0.94556rem;
			height: 0.94556rem;
			font-size: 0.94556rem;
			@media (min-width: $md4) {
				width: 1.5rem;
				height: 1.5rem;
				font-size: 1.5rem;
			}
		}
	}
}

.services {
	position: relative;
	z-index: 2;
	padding: rem(70) 0 rem(150) 0;
	@media (min-width: $md5) {
		padding: rem(155) 0 rem(111) 0;
	}
	// .services__container
	&__container {
	}
	// .services__title
	&__title {
		text-align: center;
		margin-bottom: rem(50);
		@media (min-width: $md4) {
			margin-bottom: rem(80);
		}
	}
	// .services__list
	&__list {
		display: grid;
		gap: rem(15);
		@media (min-width: $md4) {
			gap: rem(40);
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .services__item
	&__item {
		min-height: rem(245);
		@media (min-width: $md5) {
			min-height: 22.3125rem;
		}
	}
}

.service-card {
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-radius: rem(40);
	overflow: hidden;
	padding: rem(30) rem(20);
	gap: 0.625rem;
	@media (min-width: $md4) {
		gap: rem(20);
		padding: rem(40);
	}
	@media (any-hover: hover) {
		&:hover {
			.service-card__poster {
				transform: scale(1.025);
			}
		}
	}
	// .service-card__poster
	&__poster {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: transform 0.3s ease;
	}
	// .service-card__title
	&__title {
	}
	// .service-card__description
	&__description {
		max-width: 17rem;
		@media (min-width: $md5) {
			max-width: 27rem;
		}
	}
}

.quests {
	padding: 0 0 9rem 0;
	@media (min-width: $md5) {
		padding: 0 0 15rem 0;
	}
	// .quests__header
	&__header {
		position: relative;
		z-index: 1;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: rem(120) 0 rem(20);
		@media (min-width: $md4) {
			padding: rem(380) 0 rem(80);
		}
		&.quests__header--center {
			padding: rem(120) 0 rem(20);
			@media (min-width: $md4) {
				padding: rem(180) 0 rem(280);
			}
			.quests__filters {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding-bottom: rem(80);
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			background: linear-gradient(to bottom, $black, transparent) 0 0 / 100% 5em no-repeat, linear-gradient(to bottom, transparent, $black) 0 bottom / 100% 5rem no-repeat;
			@media (min-width: $md5) {
				background: linear-gradient(to bottom, $black, transparent) 0 0 / 100% 10rem no-repeat,
					linear-gradient(to bottom, transparent, $black) 0 bottom / 100% 10rem no-repeat;
			}
		}
	}
	// .quests__overlay
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 1;
	}
	// .quests__container
	&__container {
	}
	// .quests__title
	&__title {
		font-family: $font-lighthaus;
		font-size: clamp(5.86175rem, 21vw, 24rem);
		font-weight: 400;
		line-height: 100%;
		text-transform: uppercase;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		white-space: nowrap;
		flex-shrink: 0;
	}
	// .quests__filters
	&__filters {
		position: relative;
		z-index: 3;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(10);
		margin-top: rem(40);
		@media (min-width: $md4) {
			margin-top: 0;
		}
	}
	// .quests__filter
	&__filter {
		border-radius: 0.5rem;
		border: rem(1) solid;
		padding: 0.625rem 1.5625rem;
		transition: color 0.3s ease;
		flex: 1 1 auto;
		@media (min-width: $md5) {
			flex: 0 1 auto;
		}
		&.active {
			color: $turquoise;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $turquoise;
			}
		}
	}
	// .quests__body
	&__body {
		margin-top: 2.5rem;
		@media (min-width: $md5) {
			margin-top: 0;
		}
		&.quests__body--decor {
			background: url("@img/decor-line-yellow.svg") 0 center / 100% auto no-repeat;
		}
	}
	// .quests__list
	&__list {
		display: grid;
		gap: rem(30);
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			gap: rem(40);
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .quests__item
	&__item {
	}
}

.quests-card {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	border-radius: rem(30);
	@media (min-width: $md5) {
		border-radius: 2.5rem;
	}
	@media (any-hover: hover) {
		&:hover {
			.quests-card__poster {
				& img {
					transform: scale(1.025);
				}
			}
			.quests-card__body {
				background-color: lighten($color: $glass, $amount: 20);
			}
		}
	}
	// .quests-card__poster
	&__poster {
		height: 0;
		position: relative;
		padding-bottom: 91.6667%;
		overflow: hidden;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 0.3s ease;
		}
	}
	// .quests-card__body
	&__body {
		background: $glass;
		backdrop-filter: blur(rem(22));
		-webkit-backdrop-filter: blur(rem(22));
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex: 1 1 auto;
		padding: 2.19rem 1.25rem 1.88rem;
		transition: background-color 0.3s ease;
		@media (min-width: $md3) {
			padding: 2.56rem 1.37rem 2.56rem 2.5rem;
		}
	}
	// .quests-card__title
	&__title {
	}
	// .quests-card__description
	&__description {
		margin-top: rem(15);
	}
	// .quests-card__stats
	&__stats {
		margin-top: rem(30);
		display: flex;
		gap: 1.88rem;
	}
	// .quests-card__stats-block
	&__stats-block {
		display: flex;
		align-items: center;
		gap: 0.63rem;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		&::before {
			font-size: 1.5rem;
			width: 1.5rem;
			height: 1.5rem;
			flex-shrink: 0;
		}
	}
}

.contacts {
	padding: 0 0 5.8rem 0;
	@media (min-width: $md5) {
		padding: 0;
	}
	// .contacts__header
	&__header {
		position: relative;
		padding: rem(120) 0 rem(190);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		&.contacts__header--no-line {
			&::after {
				display: none;
			}
		}
		@media (min-width: $md4) {
			padding: rem(160) 0 rem(220);
		}
		@media (min-width: $md3) {
			padding: rem(190) 0 rem(280);
		}
		@media (min-width: $md2) {
			padding: rem(220) 0 rem(320);
		}
		@media (min-width: $md1) {
			padding: rem(260) 0 rem(380);
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, $black, transparent) 0 0 / 100% 10rem no-repeat, linear-gradient(to bottom, transparent, $black) 0 bottom / 100% 10rem no-repeat;
			z-index: 2;
		}
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			z-index: 2;
			background: url("@img/decor-line-mobile.svg") 50% top / 32.875rem auto no-repeat;
			top: -6rem;
			@media (min-width: $md5) {
				top: -10rem;
				background: url("@img/decor-line.svg") center top / 100% auto no-repeat;
			}
		}
	}
	// .contacts__overlay
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		pointer-events: none;
	}
	// .contacts__container
	&__container {
	}
	// .contacts__heading
	&__heading {
		display: flex;
		justify-content: center;
		flex-shrink: 0;
	}
	// .contacts__title
	&__title {
		font-family: $font-lighthaus;
		font-size: clamp(4.39044rem, 13.9vw, 24rem);
		font-weight: 400;
		line-height: 100%;
		text-transform: uppercase;
		text-align: center;
	}
	&__body {
	}
	// .contacts__items
	&__items {
		position: relative;
		z-index: 3;
		display: grid;
		gap: rem(30);
		margin-top: -10rem;
		@media (min-width: $md4) {
			margin-top: -12rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md2) {
			margin-top: -19.06rem;
			gap: 2.5rem;
		}
	}
	// .contacts__item
	&__item {
		border-radius: 2.5rem;
		background: $glass;
		backdrop-filter: blur(rem(15));
		-webkit-backdrop-filter: blur(rem(15));
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: rem(30) rem(20);
		min-height: rem(172);
		gap: 0.625rem;
		@media (min-width: $md4) {
			min-height: 16.25rem;
		}
		@media (min-width: $md2) {
			gap: 1.25rem;
			padding: 2.5rem;
		}
	}
	// .contacts__item-caption
	&__item-caption {
	}
	// .contacts__item-link
	&__item-link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .contacts__item-address
	&__item-address {
	}
	// .contacts__item-block
	&__item-block {
		margin-top: 0.5rem;
	}
	// .contacts__item-phone
	&__item-phone {
		font-weight: 700;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .contacts__item-place
	&__item-place {
		margin-top: 0.15rem;
	}
}

.steps {
	padding: 2.25rem 0;
	@media (min-width: $md4) {
		padding: 3.5rem 0;
	}
	// .steps__container
	&__container {
	}
	// .steps__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: rem(35);
		@media (min-width: $md3) {
			align-items: flex-start;
			flex-direction: row;
		}
	}
	// .steps__title
	&__title {
		text-align: center;
		@media (min-width: $md3) {
			text-align: left;
			flex: 1 1 auto;
			position: sticky;
			top: calc($header + 1rem);
		}
	}
	// .steps__list
	&__list {
		margin-left: auto;
		@media (min-width: $md3) {
			flex: 0 0 60%;
		}
	}
	// .steps__item
	&__item {
		padding-left: rem(42);
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: rem(-22.5);
			left: rem(-22.5);
			width: 2.8125rem;
			height: 2.8125rem;
			background: radial-gradient(50% 50% at 50% 50%, #efcc4f 28.37%, rgba(239, 204, 79, 0) 100%);
		}
		&:not(:last-child) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: rem(3);
				height: 100%;
				background: $yellow;
			}
			padding-bottom: 5rem;
			@media (min-width: $md4) {
				padding-bottom: 5.5rem;
			}
		}
	}
	// .steps__caption
	&__caption {
	}
	// .steps__desc
	&__desc {
		margin-top: rem(15);
		@media (min-width: $md4) {
			margin-top: rem(30);
		}
	}
}

.feedback {
	padding: 0 0 2rem;
	@media (min-width: $md4) {
		padding: 5.5rem 0 2rem;
	}
	// .feedback__container
	&__container {
	}
	// .feedback__body
	&__body {
		display: grid;
		gap: rem(40);
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .feedback__main
	&__main {
		@media (min-width: $md4) {
			padding: 1rem 0 0;
		}
	}
	// .feedback__title
	&__title {
	}
	// .feedback__subtitle
	&__subtitle {
		margin-top: rem(16);
		@media (min-width: $md4) {
			margin-top: rem(40);
		}
	}
	// .feedback__form
	&__form {
		display: flex;
		flex-direction: column;
		gap: rem(13);
	}
}
