// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Inter";
$font-heraclito: "Heraclito";
$font-lighthaus: "Lighthaus";
// Шрифт по умолчанию

$md0: 1599.98px;
$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 375; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1400); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$white: #feffff;
$black: #000;
$glass: rgba(60, 165, 161, 0.11);
$yellow: #fecd19;
$yellow-gradient: linear-gradient(180deg, #ffe073 0%, #ffcb0c 56.73%, #f1d570 100%);
$turquoise: #44cbc3;
$turquoise-gradient: linear-gradient(180deg, #20aca4 0%, #53d8d1 56.73%, #62f5ea 100%);

$header: var(--header-height, 11.375rem);

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

// СТИЛИ СТРАНИЦ

@import "pages/quest";
@import "pages/birthday";
@import "pages/rules-and-payment";
@import "pages/about";
@import "pages/contacts";
@import "pages/policy";
@import "pages/graduation";
